.container {
  display: flex;
  margin-top: 80px;
}

.dashboard_container {
  height: 80vh;
  background-color: rgb(196, 196, 196);
  display: flex;
}

.dashboard {
  font-size: 34px;
  font-weight: bold;
}

.dashboardLogo {
  font-size: 30px;
  margin-top: 5px;
}

.dash_logo_container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.detailsLogo {
  font-size: 25px;
}

.details {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.payment {
  font-size: 20px;
  margin: 0;
  line-height: 1;
}
.marks {
  font-size: 20px;
  margin: 0;
  line-height: 1;
}
